In [0]:
import pandas as pd

In [7]:
# Url to data hosted on github
# Original data source: https://www.kaggle.com/russellyates88/suicide-rates-overview-1985-to-2016?select=master.csv
data_url = 'https://raw.githubusercontent.com/KylunR/SuicideRateDataAnalysis/master/data.csv'


# Columns of data to read into
features = ["Country", "Year", "Sex", "Age", "Suicides_No", "Population", "Suicides/100K", 
            "Country_Year", "HDI", "GDP", "GDP_Per_Capita", "Generation"]


# Read data into features
data = pd.read_csv(data_url, names=features, sep=',', engine='python', na_values='?', skiprows=1)

# For testing, view table
data.head()

   Country  Year     Sex  ...            GDP  GDP_Per_Capita       Generation
0  Albania  1987    male  ...  2,156,624,900             796     Generation X
1  Albania  1987    male  ...  2,156,624,900             796           Silent
2  Albania  1987  female  ...  2,156,624,900             796     Generation X
3  Albania  1987    male  ...  2,156,624,900             796  G.I. Generation
4  Albania  1987    male  ...  2,156,624,900             796          Boomers

[5 rows x 12 columns]